<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoEdify</title>

        <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"></a>

        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="https://kit.fontawesome.com/a6b07268e3.js" crossorigin="anonymous"></script>

        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='/stylesheets/style.css'>
</head>
<body>

<!-- Navigation Bar -->
<header>
    <a href="#" class="logo">Car<span>Maintenance</span>Tracker</a>

    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#">Services</a>
        <a href="#">Pricing</a>
        <a href="#">Contact</a>
    </nav>

    
</header>


<!--Login Page -->
<div class="container">
    <div class="form-box login">
        <form action="/register" method="post">
            <h1>Login</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            
            <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt' ></i>
        </div>

        <!--Forgot Password-->
        <div class="forgot-link">
            <a href="#">Forgot Password?</a>
        </div>

        <!--Login Button-->
        <button type="submit" class="btn">Login</button>
        </form>
    </div>

<!--Registration Part-->
    <div class="form-box register">
        <form action="/register" method="post">
            <h1> Registration</h1>
            <div class="input-box">
                <input type="text" name="name" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" required>
                <i class='bx bxs-envelope' ></i>
            </div>
            <div class="input-box">
            <input type="password" name="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>

        <div class="input-box">
            <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
            <i class='bx bxs-lock-alt' ></i>
        </div>

        <!--Registration Button-->
        <button type="submit" class="btn">Register</button>
        
        </form>
    </div> 
    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <h1>Hello, Welcome</h1>
            <p>Don't have an account?</p>
            <button class="btn register-btn">Register</button>
        </div>

        <div class="toggle-panel toggle-right">
            <h1>Welcome Back!</h1>
            <p>Already have an account?</p>
            <button class="btn login-btn">Login</button>
        </div>
    </div>
</div>
    <script src="/javascripts/script.js"></script>
</body>
</html>
