body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.container {
    background: #fdfafa;
    padding: 20px;
    max-height: max-content;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

h1, h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

button {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f8f9fa;
}

.action-buttons button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
}

.action-buttons .edit {
    background-color: #007bff;
    color: white;
    border: none;
}

.action-buttons .delete {
    background-color: #dc3545;
    color: white;
    border: none;
}

.back-button {
    position: absolute; 
            top: 10px;
            left: 10px;
            display: inline-block; 
            width: auto; 
            padding: 5px 10px; 
            font-size: 12px;
            background-color: #1a81ef;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            z-index: 1000;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.back-button:hover {
    background-color: #0056b3;
}

.back-button:active {
    transform: scale(0.95); 
}
